@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App {
 background-color:#e2eff7 ;
 font-family: 'Poppins', sans-serif;
 height: 100em;
}

.cnt{
    margin-left: 35%;
}
.input{
border: solid 1px black;
border-radius: 3px;
}
.get{
    background: #1a5175;
    color: white;
    border-radius: 3px;
}
.mm{
    height:22em;
}