@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App {
 background-color:#d8e5ee ;
 font-family: 'Poppins', sans-serif;
 height: 100em;
}

.cnt{
    margin-left: 35%;
}
.input{
border: solid black;
border-radius: 2px;
}